main {
  margin: auto;
  font-size: 1.8em;
}

footer {
  margin: auto;
  height: 60px;
  font-size: 1.2em;
}

li {
  padding-top: 30px;
}

code {
  background-color: #e6e6e6;
}

pre {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  main {
    width: 100%;
    font-size: 1.7em;
  }
  footer {
    width: 100%;
  }
  pre {
    font-size: 0.72em;
  }
}

@media only screen and (min-width: 768px) {
  main {
    width: 50%;
  }
  footer {
    padding-top: 100px;
    width: 50%;
  }
}
