  <footer>
    <p><small>Built with &#9829; by <a href="https://wes.today">Wes Kennedy</a>. <a href=/tos>Terms of Service</a>.</small></p>
  </footer>
  {% if page.url == "/tos/" %}
    <img src="https://exitvim_today.goatcounter.com/count?p=/tos">
  {% else %}
    <img src="https://exitvim_today.goatcounter.com/count?p=/exitvim">
  {% endif %}
</body>
</html>
