<!DOCTYPE html>
<html>
  {% include head.html %}

<body>
  {% if page.url != "/" %}
    {% include header.html %}
  {% endif %}
    <main>
    <article>
    {{ content }}
    </article>
    </main>

{% include footer.html %}
